@model Z02.Models.NoteViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form asp-controller="NewOrEditNote" style="margin-top: 1rem">
    <input type="hidden" asp-for="@Model.Id">
    <input type="hidden" asp-for="@Model.RowVersion">
    @Html.ValidationSummary(true)
    <div class="row" style="display: flex; align-items: center">
        <div class="form-group col-sm-8" style="display: flex; align-items: center">
            <label class="col-sm-3" style="text-align: left">Title of the note:</label>
            <div class="col-sm-9">
                <input type="text" asp-for="@Model.Title" class="form-control">
                @Html.ValidationMessageFor(model => model.Title, null, new{style = "color: red"})
            </div>
        </div>
        <div class="form-group col-sm-3">
            <div class="col-sm-1">
                <input type="checkbox" asp-for="@Model.IsMarkdown"/>
            </div>
            <label class="col-sm-2 text-align: left">Markdown</label>
        </div>
    </div>

    <div class="row" style="display: flex; align-items: center;">
        <div class="form-group col-sm-8">
            <label class="col-sm-3" style="text-align: left">Date:</label>
            <div class="col-sm-4">
                <input type="date" asp-for="@Model.Date" class="form-control">
            </div>
        </div>
    </div>

    <div class="row" style="display: flex; align-items: center;">
        <div class="form-group col-sm-12">
            <label class="col-sm-3 text-align: left">Content of the note:</label>
            <div class="col-sm-12">
                <textarea rows="10" asp-for="@Model.Content" class="form-control"></textarea>
            </div>
        </div>
    </div>

    <div class="form-group" style="display: flex; align-items: center;">
        <label class="col-sm-2">New category name:</label>
        <div class="col-sm-6">
            <input id="newCategory" type="text" class="form-control"/>
        </div>
        <button type="button" class="btn btn-primary col-sm-1" style="margin: 1rem" onclick="addCategory()">Add</button>
    </div>

    <div class="row" style="display: flex;">
        <div class="form-group col-sm-3" style="display: flex; align-items: center; flex-direction: column">
            <label class="col-sm-12">In categories:</label>
            <div id="categories" class="col-sm-12">
                @foreach ( String category in Model.Categories ){
                    <div id="@category" class="row">
                        <span class="col-sm-9">@category</span>
                        <input type="hidden" asp-for="Categories" value="@category"/>
                        <button type="button" class="btn btn-danger col-sm-2" onclick="removeCategory('@category')">X</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row form-group" style="display: flex; justify-content: flex-end">
        <button type="submit" class="btn btn-success col-sm-1" style="margin: 1rem" asp-action="Save">OK</button>
        <button type="submit" class="btn btn-default col-sm-1" style="margin: 1rem" asp-action="Cancel">Cancel</button>
    </div>
</form>

<script type="text/javascript">
function removeCategory(category) {
  document.getElementById(category).remove();
}

function addCategory() {
  let category = document.getElementById('newCategory').value;
  
  if(category !== "") {
      let newCategory = document.createElement('div');
      
      newCategory.id = category;                
      newCategory.classList.add('row');
      newCategory.innerHTML = `<span class="col-sm-9">${category}</span>
                                <input type="hidden" name="Categories" value="${category}"/>
                                <button type="button" class="btn btn-danger col-sm-2" onclick="removeCategory('${category}')">X</button>`;
      
      document.getElementById('categories').appendChild(newCategory);
      document.getElementById('newCategory').value = '';
  }
}
</script>